extends layout

block nav
  a.active(href='/') Home
    
block content
  div.actions
    a(href="/create-book") Create Book 
  ul 
    each book in book_list
      li
        a(href=book.url) #{book.title}
  if book_list.length <= 0
    p There is no book.
