* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 30em;
  margin: auto;
  letter-spacing: 0.15em;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

a.active,
a:hover {
  text-decoration: underline;
}

span.term {
  display: inline-block;
  position: relative;
}

span.term:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

span.term:hover > div.dict {
  display: inline-block;
}

div {
  margin-bottom: 2rem;
}

div.dict {
  display: none;
  position: absolute;
  left: 0;
  top: 1.5em;
  z-index: 1;
  background-color: antiquewhite;
  width: 15em;
  max-height: 20em;
  padding: 0.5em;
  overflow-y: scroll;
  text-align: justify;
  letter-spacing: normal;
}

div.dict * {
  font-size: 30px;
  font-weight: normal;
}

div.dict p {
  padding: 0;
  margin: 0;
}

ol {
  margin: 0;
}

button {
  border: none;
  background: none;
  color: #99c5d6;
  cursor: pointer;
  font-size: 20px;
  background-color: aliceblue;
  padding: 5px;
  margin-left: 20px;
  border-radius: 50%;
  float: right;
}

button:hover, button.saved {
  color: #00b7ff;
  box-shadow: 0 0 10px #00b7ff;
}

button.saved {
  cursor: default;
}
