body {
  padding: 50px;
  font: 32px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 30em;
  margin: auto;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

a.active,
a:hover {
  text-decoration: underline;
}

span.term {
  background-color: antiquewhite;
  cursor: pointer;
  margin: 0.1em;
  display: inline-block;
  position: relative;
}

span.term:hover > div.dict {
  display: inline-block;
}

div.dict {
  display: none;
  position: absolute;
  left: 0;
  top: 1em;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  width: 20em;
  max-height: 20em;
  padding: 0 1em;
  overflow-y: scroll;
  text-align: justify;
}
