* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  letter-spacing: 0.15em;
}

html {
  height: 100%;
}

body {
  padding: 0.4em;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100%;
  max-width: 30em;
  margin: auto;
  letter-spacing: 0.15em;
  background-color: whitesmoke;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li > * {
  display: block;
  width: 100%;
  padding: 0.4em;
  border: none;
  border-radius: 10px;
  font-size: inherit;
}

form li + li {
  margin-top: 1em;
}

form li textarea {
  height: 20em;
}

form button {
  border: none;
  background: none;
  color: whitesmoke;
  cursor: pointer;
  background-color: #00b7ff;
  margin: 0;
  float: none;
}

form ul li input,
form ul li textarea,
form ul li button {
  border: #00b7ff 1px solid;
}

form ul li input:focus,
form ul li textarea:focus {
  outline: none;
  box-shadow: 0 0 0.8em rgba(0, 183, 255, 0.5);
}

form .btn-danger {
  background-color: darkred;
  border: darkred 1px solid;
}

form button:hover {
  color: #00b7ff;
  background-color: whitesmoke;
  box-shadow: 0 0 0.8em rgba(0, 183, 255, 0.5);
}

form .btn-danger:hover {
  color: darkred;
  background-color: whitesmoke;
  box-shadow: 0 0 0.8em rgba(139, 0, 0, 0.5);
}

::placeholder {
  color: #99c5d6;
  font-size: 1rem;
}

nav {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: whitesmoke;
}

nav.stick {
  padding: 0.2em;
  box-shadow: 0 0.2em 0.5em rgba(153, 197, 214, 0.5);
}

nav * {
  font-size: 1.4rem;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

a.active,
a:hover {
  text-decoration: underline;
}

span.term {
  display: inline-block;
  position: relative;
}

span.term:hover {
  background-color: rgba(231, 248, 255, 0.98);
  box-shadow: 5px 5px 20px rgba(153, 197, 214, 0.5),
    -5px -5px 20px rgba(153, 197, 214, 0.5);
  cursor: pointer;
}

span.term:hover > div.dict {
  display: inline-block;
}

body > * + * {
  margin-top: 2rem;
}

div.dict {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(231, 248, 255, 0.98);
  box-shadow: 5px 5px 20px rgba(153, 197, 214, 0.5),
    -5px -5px 20px rgba(153, 197, 214, 0.5);
  width: 25rem;
  max-height: 15rem;
  padding: 0.5em;
  overflow-y: scroll;
  text-align: justify;
  letter-spacing: normal;
}

div.dict-top-left {
  left: 0;
  bottom: 1.5em;
}

div.dict-bottom-left {
  left: 0;
  top: 1.5em;
}

div.dict-top-right {
  right: 0;
  bottom: 1.5em;
}

div.dict-bottom-right {
  right: 0;
  top: 1.5em;
}

div.dict * {
  font-size: 1.4rem;
  font-weight: normal;
}

div.dict p {
  padding: 0;
  margin: 0;
}

div.dict ol {
  list-style: decimal;
}

ol {
  margin: 0;
}

button {
  border: none;
  background: none;
  color: #99c5d6;
  cursor: pointer;
  font-size: 20px;
  background-color: aliceblue;
  padding: 5px;
  margin-left: 20px;
  border-radius: 50%;
  float: right;
}

button:hover,
button.saved {
  color: #00b7ff;
  box-shadow: 0 0 0.8em rgba(0, 183, 255, 0.5);
}

button.saved {
  cursor: default;
}

.error,
.danger {
  color: darkred;
}

.actions {
  display: flex;
  justify-content: right;
}

.actions > * {
  margin-right: 1em;
  font-size: 1.3rem;
}

@media (width <= 30em) {
  body {
    max-width: 100%;
  }
}
